<div class="row">
  
<div class="col-md-12"> 
  <form [formGroup]="formGroup" class="example-form" (ngSubmit)="onSubmit()">
      <mat-card class="example-card">
      <mat-card-content>      
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username" name="username" required>
                <mat-error *ngIf="formGroup.controls['username'].invalid">
                  {{getError('user')}}
                </mat-error> 
              </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
              <mat-error *ngIf="!formGroup.controls['password'].valid">
                {{getError('pass')}}
              </mat-error>
            </mat-form-field></td>
          </tr></table>
       
        <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="login" mat-raised-button [disabled]="!formGroup.valid" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
  </div>
    <div class="col-md-12">
      New user <a routerLink="/register">Register for free</a>
    </div>
  </div>
  

